# Python
__pycache__/
*.py[cod]

# Database
*.db
*.db-wal
*.db-shm

# Logs
logs/
*.log

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Build
build/
dist/
*.spec

# OS Files
Thumbs.db
.DS_Store